.jqtree_common {
    list-style: none;
}

ul.jqtree_common {
    padding-left: 1.5em;
}

li.jqtree_common {
    clear: both;
}

li.jqtree-closed > ul {
    display: none;
}

.jqtree-title {
    margin-left: 1.5em;
}

.jqtree-title.jqtree-title-folder {
    margin-left: 0;
}

.jqtree-toggler {
    margin-left: 0.2em;
    margin-right: 0.6em;
}

.jqtree-toggler.jqtree-closed {
    margin-left: 0;
    margin-right: 0.45em;
}

.jqtree-toggler:hover {
    text-decoration: none;
}
