{
    "tags": {
        "allowUnknownTags": true
    },
    "source": {
        "includePattern": ".+\\.js(doc)?$",
        "excludePattern": "(^|\\/|\\\\)_"
    },
    "plugins": [],
    "templates": {
        "docletFormat": "taffydb",
        "cleverLinks": false,
        "monospaceLinks": false
    },
    "jsVersion": 180
}