<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JSDoc: <?js= title ?></title>
	
	<script src="http://shjs.sourceforge.net/sh_main.min.js"> </script>
    <script src="http://shjs.sourceforge.net/lang/sh_javascript.min.js"> </script>
    
    <link type="text/css" rel="stylesheet" href="styles/node-dark.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">

</head>

<body>

<div id="main">

<h1 class="page-title"><?js= title ?></h1>

<?js
    docs.forEach(function(doc, i) {
?>

<section>
 
<header>
    <?js
        if (doc.classdesc) {
           print('<p class="class-description">'+doc.classdesc+'</p>'); 
        }
    ?>

    <!--
        var displayname = htmlsafe(doc.longname).replace(doc.name, '</span><b>'+doc.name+'</b>');
        /*print('<span class="ancestor-name">' + displayname + doc.signature);*/
    -->
</header>  

<article>    
    <?js
    if (doc.kind === 'class') {
        print(render('method.tmpl', doc));
    }
    ?>
    
    <?js
        if (doc.augments && doc.augments.length) { 
    ?>
        <h3 class="subsection-title">Extends</h3>
        
        <ul><?js
            doc.augments.forEach(function(a) {
        ?>
            <li><?js= linkto(a, a) ?></li>
        <?js
            });
        ?></ul>
    <?js 
        }
    ?>
    
    <h3 class="subsection-title">Details</h3>
    <?js
        print(render('details.tmpl', doc));
    ?>
    
    <?js
        if (doc.requires && doc.requires.length) { 
    ?>
        <h3 class="subsection-title">Requires</h3>
        
        <ul><?js
            doc.requires.forEach(function(r) {
        ?>
            <li><?js= linkto(r, r) ?></li>
        <?js
            });
        ?></ul>
    <?js 
        }  
    ?>
    
     <?js
        if (doc.borrowed && doc.borrowed.length && doc.borrowed.forEach) { 
     ?>
        
        <h3 class="subsection-title">Borrows</h3>
        
        <ul><?js
            doc.borrowed.forEach(function(b) {
        ?>
            <li><?js= linkto(b.from, b.from) ?></li>
        <?js
            });
        ?></ul>
        
    <?js } ?>
    
    <?js
        var classes = find({kind: 'class', memberof: doc.longname}); 
        if (classes && classes.length && classes.forEach) { 
    ?>
        
        <h3 class="subsection-title">Classes</h3>
        
        <dl><?js
            classes.forEach(function(c) {
        ?>
            <dt><?js= linkto(c.longname, c.name) ?></dt>
            <dd><?js if (c.summary) print(c.summary); ?></dd>
        <?js
            });
        ?></dl>
        
    <?js } ?>
    
    <?js
        var namespaces = find({kind: 'namespace', memberof: doc.longname}); 
        if (namespaces && namespaces.length && namespaces.forEach) { 
    ?>
        
        <h3 class="subsection-title">Namespaces</h3>
        
        <dl><?js
            namespaces.forEach(function(n) {
        ?>
            <dt><a href="namespaces.html#<?js= n.longname ?>"><?js= linkto(n.longname, n.name) ?></a></dt>
            <dd><?js if (n.summary) print(n.summary); ?></dd>
        <?js
            });
        ?></dl>
        
    <?js } ?>
    
    <?js
        var properties = find({kind: 'property', memberof: doc.longname});
        if (title === 'Globals') {
            properties = find({kind: 'property', memberof: {isUndefined: true}});
        }
        if (properties && properties.length && properties.forEach) { 
    ?>
        
        <h3 class="subsection-title">Properties</h3>
        
        <dl><?js
            properties.forEach(function(p) {
                print(render('properties.tmpl', p));
            });
        ?></dl>
        
    <?js } ?>
    
    <?js
        var methods = find({kind: 'function', memberof: doc.longname});
        if (title === 'Globals') {
            methods = find({kind: 'function', memberof: {isUndefined: true}});
        }
        if (methods && methods.length && methods.forEach) { 
    ?>
        
        <h3 class="subsection-title">Methods</h3>
        
        <dl><?js
            methods.forEach(function(m) {
                print(render('method.tmpl', m));
            });
        ?></dl>
        
    <?js } ?>
    
    <?js
        var events = find({kind: 'event', memberof: doc.longname}); 
        if (events && events.length && events.forEach) { 
    ?>
        
        <h3 class="subsection-title">Events</h3>
        
        <dl><?js
            events.forEach(function(e) {
                print(render('method.tmpl', e));
            });
        ?></dl>
</article>         
    <?js } ?>

</section>  
<?js }); ?>
</div>
<nav>
    <?js= nav ?>
</nav>
<br clear="both">
<footer>
    Generated by JSDoc 3 at <?js= (new Date()) ?>
</footer>
<script> sh_highlightDocument(); </script>

</body>
</html>