{{%ARRAY-ORDINALS}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JSDoc: {{title}}</title>
	
	<script src="http://shjs.sourceforge.net/sh_main.min.js"> </script>
    <script src="http://shjs.sourceforge.net/lang/sh_javascript.min.js"> </script>
    <link type="text/css" rel="stylesheet" href="styles/node-dark.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    
	
</head>

<body>

    <h1 class="page-title">{{title}}</h1>

{{#docs}}
    <section>
        <h2 class="section-title" id="{{longname}}">{{kind}}: {{name}}</h2>
        
        {{#classdesc}}
            <div class="description">{{classdesc}}</div>
        {{/classdesc}}
        
        {{#summary}}
            <div class="summary">{{summary}}</div>
        {{/summary}}
        
        {{#description}}
            <div class="description">{{description}}</div>
        {{/description}}
        
        {{#hasConstructor}}
            <h3 class="subsection-title">Constructor:</h3>
            <dl class="constructor">
            {{>methodsTemplate}}
            </dl>
        {{/hasConstructor}}
        
        {{#hasClasses}}
            <h3 class="subsection-title">Classes:</h3>
            {{>classesTemplate}}
        {{/hasClasses}}
        
        {{#hasNamespaces}}
            <h3 class="subsection-title">Namespaces:</h3>
            {{>namespacesTemplate}}
        {{/hasNamespaces}}
        
        <h3 class="subsection-title">Methods:</h3>
        {{#hasMethods}}
            <dl class="methods">
            {{#methods}}
            {{>methodsTemplate}}
            {{/methods}}
            </dl>
        {{/hasMethods}}
        {{^hasMethods}}
        <p class="no-docs">The {{name}} {{kind}} has no documented methods.</p>
        {{/hasMethods}}
        
        <h3 class="subsection-title">Properties:</h3>
        {{#hasProperties}}
            <dl class="properties">
            {{#properties}}
            {{>propertiesTemplate}}
            {{/properties}}
            </dl>
        {{/hasProperties}}
        {{^hasProperties}}
        <p class="no-docs">The {{name}} {{kind}} has no documented properties.</p>
        {{/hasProperties}}
        
    </section>
{{/docs}}

    <script> sh_highlightDocument(); </script>
</body>
</html>