<dl class="details">
	<?js if (this.version) {?>
	<dt>Version:</dt>
	<dd><?js= version ?></dd>
	<?js } ?>
	
	<?js if (this.since) {?>
	<dt>Since:</dt>
	<dd><?js= since ?></dd>
	<?js } ?>
	
	<?js if (this.deprecated) { ?>
        <dt class="important">Deprecated<?js
            if (this.deprecated === true) print('</dt><dd class="yes-def">Yes</dd>');
            else print(':</dt><dd>'+this.deprecated+'</dd>');
        ?>
        
        <?js } ?>
	
	<?js if (this.author) {?>
	<dt>Author:</dt>
	<dd><?js= author ?></dd>
	<?js } ?>
	
	<?js if (this.copyright) {?>
	<dt>Copyright:</dt>
	<dd><?js= copyright ?></dd>
	<?js } ?>
	
	<?js if (this.license) {?>
	<dt>License:</dt>
	<dd><?js= license ?></dd>
	<?js } ?>
	
	<?js if (this.defaultvalue) {?>
	<dt>Default Value:</dt>
	<dd><?js= this.defaultvalue ?></dd>
	<?js } ?>
	
	<?js if (this.meta) {?>
	<dt>Source:</dt>
	<dd><?js= meta.filename ?>, line <?js= meta.lineno ?></dd>
	<?js } ?>
	
	<?js if (this.see && see.length) {?>
	<dt>See:</dt>
	<dd>
        <ul><?js
            see.forEach(function(s) {
                print('<li>'+linkto(s)+'</li>');
            });
        ?></ul>
	</dd>
	<?js } ?>
</dl>
