<?js
var data = obj;
var doc = data.doc || {};
var self = this;
var defaultObjectClass = '';

// Check if the default value is an object, if so, apply code highlighting
if (doc.defaultvalue && doc.defaultvaluetype === 'object') {
    doc.defaultvalue = "<pre class=\"prettyprint\"><code>" + doc.defaultvalue + "</code></pre>";
    defaultObjectClass = ' class="object-value"';
}
?>
<dl class="details">
    <?js
        var properties = doc.properties;
        if (properties && properties.length && properties.forEach) { 
    ?>
        
        <h5 class="subsection-title">Properties:</h5>
        
        <dl><?js= this.partial('properties.tmpl', properties) ?></dl>
        
    <?js } ?>
        
    <?js if (doc.version) {?>
    <dt class="tag-version">Version:</dt>
    <dd class="tag-version"><ul class="dummy"><li><?js= doc.version ?></li></ul></dd>
    <?js } ?>
    
    <?js if (doc.since) {?>
    <dt class="tag-since">Since:</dt>
    <dd class="tag-since"><ul class="dummy"><li><?js= doc.since ?></dd>
    <?js } ?>

    <?js if (doc.inherited && doc.inherits) { ?>
    <dt class="inherited-from">Inherited From:</dt>
    <dd class="inherited-from"><ul class="dummy"><li>
        <?js= this.linkto(doc.inherits, this.htmlsafe(doc.inherits)) ?>
    </li></dd>
    <?js } ?>
    
    <?js if (doc.deprecated) { ?>
        <dt class="important tag-deprecated">Deprecated:</dt><?js
            if (doc.deprecated === true) { ?><dd class="yes-def tag-deprecated"><ul class="dummy"><li>Yes</li></ul></dd><?js }
            else { ?><dd><ul class="dummy"><li><?js= doc.deprecated ?></li><ul></dd><?js }
        ?>
    <?js } ?>
    
    <?js if (doc.author && doc.author.length) {?>
    <dt class="tag-author">Author:</dt>
    <dd class="tag-author">
        <ul><?js doc.author.forEach(function(a) { ?>
            <li><?js= self.resolveAuthorLinks(a) ?></li>
        <?js }); ?></ul>
    </dd>
    <?js } ?>
    
    <?js if (doc.copyright) {?>
    <dt class="tag-copyright">Copyright:</dt>
    <dd class="tag-copyright"><ul class="dummy"><li><?js= doc.copyright ?></li></ul></dd>
    <?js } ?>
    
    <?js if (doc.license) {?>
    <dt class="tag-license">License:</dt>
    <dd class="tag-license"><ul class="dummy"><li><?js= doc.license ?></li></ul></dd>
    <?js } ?>
    
    <?js if (doc.defaultvalue) {?>
    <dt class="tag-default">Default Value:</dt>
    <dd class="tag-default"><ul class="dummy">
            <li<?js= defaultObjectClass ?>><?js= doc.defaultvalue ?></li>
        </ul></dd>
    <?js } ?>
    
    <?js if (doc.meta && data.opts.outputSourceFiles) {?>
    <dt class="tag-source">Source:</dt>
    <dd class="tag-source"><ul class="dummy"><li>
        <?js= self.linkto(doc.meta.shortpath) ?>, <?js= self.linkto(doc.meta.shortpath, 'line ' + doc.meta.lineno, null, 'line' + doc.meta.lineno) ?>
    </li></ul></dd>
    <?js } ?>
    
    <?js if (doc.tutorials && doc.tutorials.length) {?>
    <dt class="tag-tutorial">Tutorials:</dt>
    <dd class="tag-tutorial">
        <ul><?js doc.tutorials.forEach(function(t) { ?>
            <li><?js= self.tutoriallink(t) ?></li>
        <?js }); ?></ul>
    </dd>
    <?js } ?>
    
    <?js if (doc.see && doc.see.length) {?>
    <dt class="tag-see">See:</dt>
    <dd class="tag-see">
        <ul><?js doc.see.forEach(function(s) { ?>
            <li><?js= self.linkto(s) ?></li>
        <?js }); ?></ul>
    </dd>
    <?js } ?>
    
    <?js if (doc.todo && doc.todo.length) {?>
    <dt class="tag-todo">To Do:</dt>
    <dd class="tag-todo">
        <ul><?js doc.todo.forEach(function(t) { ?>
            <li><?js= t ?></li>
        <?js }); ?></ul>
    </dd>
    <?js } ?>
</dl>
