<dt>
    <h5>Example</h5>
</dt>
<dd>
    {{#examples}}
    <br clear="both">
    <div class="example-code">
        <pre class="sh_javascript"><code>{{.}}</code></pre>
    </div>
    <br clear="both">
    {{/examples}}
</dd>
