<?js
    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
    <pre class="code brush: js"><?js= example.code ?></pre>
<?js
    });
?>