<?js
	var data = obj;
    data.forEach(function(example) {
        if (example.caption) {
    ?>
        <p class="code-caption"><?js= example.caption ?></p>
    <?js } ?>
    <pre class="prettyprint"><code><?js= example.code ?></code></pre>
<?js
    });
?>