<?js if (data.description) { ?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js if (data.type) {?>
<dl>
	<dt>
		Type
	</dt>
	<dd>
		<?js= self.partial('type.tmpl', data.type) ?>
	</dd>
</dl>
<?js } ?>