<?js if (data.description) { ?>
<div class="param-desc">
    <?js if (data.type && data.type.names) { ?>
		<?js
			var typeNames = data.type.names,
                self = this;
			typeNames.forEach(function(name, i) { ?>
		<span class="param-type"><?js= self.linkto(name, self.htmlsafe(name)) ?></span> <?js if (i < typeNames.length-1) { ?>|<?js } ?>
		<?js }); ?>
	<?js } ?>: <?js= description ?>
</div>
<?js } ?>
