<?js if (this.description) { ?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js
	if (this.type && this.type.names) {
?>
<dl>
	<dt>
		Type
	</dt>
	<dd>
		<?js
			var typeNames = this.type.names;
			typeNames.forEach(function(name, i) {
		?>
		<span class="param-type"><?js= linkto(name, htmlsafe(name)) ?></span> <?js if (i < typeNames.length-1) print('|'); ?>
		<?js
			 });
		?>
	</dd>
</dl>
<?js 
	}
?>