<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JSDoc Index</title>
	<style type="text/css">
        .kind { font-style: italic; }
        .constructor, .mixin, .namespace
        {
        	font-weight: bold;
        	color: #780000;
        }
        
        .property { color: #666; }
        .function { color: #666; }
        
        .access { color: #666; }
        
        .symbol-head
        {
        	margin-top: 8px;
        	margin-bottom: 4px;
        	padding: 6px;
        	font-size: 110%;
        	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
        	background-color: #B8B9CB;
        }
        
        .detail-list {
            list-style-type:none;
        }
        
        .symbol-head .summary {
            font-style: italic;
            color: #fff;
            font-size: 90%;
        }
        .description {
            margin-top: 12px;
        }
        
    </style>
</head>

<body>

<h1>All Symbols</h1>

<dl>
{{#docs}}
    <h2 class="symbol-head" id="{{longname}}">
        {{#kind}}<span class="kind {{kind}}">{{kind}}</span> {{/kind}}{{#access}}<span class="access {{access}}">&lt;{{access}}></span> {{/access}}{{longname}}
        <span class="summary">
        {{#summary}}{{{summary}}}{{/summary}}
        </span>
    </h2>
    <div>
        
        <div class="details">
            {{#description}}
                <div class="description">
                {{{description}}}
                </div>
            {{/description}}
        
            {{#hasBorrowed}}
            <h3>Mixes In:</h3>
            <ol class="borrows detail-list">
                {{#borrowed}} <li>{{#linkTo}}{{from}}{{/linkTo}}</li> {{/borrowed}}
            </ol>
            {{/hasBorrowed}}
            
            {{#hasParams}}
            <h3>Parameters:</h3>
            <ol class="params detail-list">
                {{#params}} {{>param}} {{/params}}
            </ol>
            {{/hasParams}}
            
            {{#returns}}
            <h3>Returns:</h3>
            <ol class="returns detail-list">
                {{>returns}}
            </ol>
            {{/returns}}
        </div>
    </div>
{{/docs}}


</body>
</html>