<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <!--[if lt IE 9]>
        <script src="scripts/polyfills.js"> </script>
    <![endif]-->

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <script src="scripts/functions.js"> </script>

    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/hosted-docs.css">
    <link type="text/css" rel="stylesheet" href="styles/styles.css">
</head>

<body onload="createAppLinks()">

<header id="brjs-nav">
    <div id="topnav">
        <ul>
            <li class="dashboard-link"><a href="/#"><b>BladeRunner</b>JS</a></li>
            <li><a href="http://github.com/BladeRunnerJS/brjs/releases" target="_blank">Release Notes</a></li>
            <li><a href="http://bladerunnerjs.org/" target="_blank">BladeRunnerJS.org</a></li>
        </ul>
    </div>
    <br class="clearfloat">
    <div class="subnav">
        <ul>
            <li><a href="/dashboard" class="subnav-extend-btn"></a></li>
            <li><a id="appLink" class="subnav-btn">app</a></li>
            <li><div class="subnav-selected" >docs</div></li>
        </ul>
    </div>
</header>

<div id="main">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
</div>

<nav>
	<div id="filter-input-wrapper">
        <div id="filter-input">
		    <input type="text" list="package-prefixes" placeholder="package filter" oninput="packageFilter.updateDisplayedItems(this.value)"
		     onkeyup="packageFilter.onKeyPress(this, event)">
		    <button onclick="packageFilter.setFilter('')"></button>
	    </div>
	</div>
	<datalist id="package-prefixes"></datalist>
	
    <?js= this.nav ?>
</nav>

<br clear="both">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
