
<dt>
    <h4 class="name" id="<?js= id ?>"><?js= data.attribs + name + data.signature ?></h4>
    
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd>
    <?js if (data.description) { ?>
    <p class="description">
        <?js= data.description ?>
    </p>
    <?js } ?>
    
    <?js= this.partial('details.tmpl', data) ?>
    
    <?js 
        if (data.examples && examples.length) {
            print('<h5>Example' + (examples.length > 1? 's':'') + '</h5>');
            print( this.partial('examples.tmpl', examples) );
        }
    ?>
</dd>
