<dl class="methods">
{{#methods}}
    <dt class="furtherDetailHeading" id="method:{{name}}">
        <h4>{{name}}</h4>
    </dt>
    <dd>
        {{#summary}}<p class="shortDesc">{{{summary}}}</p>{{/summary}}
    
        <div class="apiFurtherDetail" style="height: auto;">
            
            <h5>Synopsis:</h5>
            <pre class="prettyprint"><code>{{synopsis}}</code></pre>
            
            {{#hasParams}}
                <h5>Parameters:</h5>
                {{>paramsTemplate}}
            {{/hasParams}}
            
            {{#hasReturns}}
                <h5>Returns:</h5>
                {{>returnsTemplate}}
            {{/hasReturns}}
        </div>
    </dd>
{{/methods}}
</dl>
