<dl class="namespaces">
{{#namespaces}}
    <dt class="furtherDetailHeading">
        <h4 class="namespace-title"><a href="namespaces.html#{{longname}}">{{name}}</a></h4>
    </dt>
    <dd>
        {{#summary}}<p class="shortDesc">{{{summary}}}</p>{{/summary}}
    </dd>
{{/namespaces}}
</dl>
