<?js
    var params = this;
    
    /* sort subparams under their parent params (like opts.classname) */
    var parentParam = null;
    params.forEach(function(param, i) {
        if (!param) { return; }
        if ( parentParam && param.name.indexOf(parentParam.name + '.') === 0 ) {
            param.name = param.name.substr(parentParam.name.length+1);
            parentParam.subparams = parentParam.subparams || [];
            parentParam.subparams.push(param);
            params[i] = null;
        }
        else {
            parentParam = param;
        }
    });
    
    /* determine if we need extra columns, "attributes" and "default" */
    params.hasAttributes = false;
    params.hasDefault = false;
    params.hasName = false;
    
    params.forEach(function(param) {
        if (!param) { return; }
        
        if (param.optional || param.nullable) {
            params.hasAttributes = true;
        }
        
        if (param.name) {
            params.hasName = true;
        }
        
        if (typeof param.defaultvalue !== 'undefined') {
            params.hasDefault = true;
        }
    });
?>

<table class="params">
    <thead>
	<tr>
		<?js if (params.hasName) {?>
		<th>Name</th>
		<?js } ?>
		
		<th>Type</th>
		
		<?js if (params.hasAttributes) {?>
		<th>Argument</th>
		<?js } ?>
		
		<?js if (params.hasDefault) {?>
		<th>Default</th>
		<?js } ?>
		
		<th class="last">Description</th>
	</tr>
	</thead>
	
	<tbody>
	<?js
	    params.forEach(function(param) {
	        if (!param) { return; }
	?>
	
        <tr>
            <?js if (params.hasName) {?>
                <td class="name"><code><?js= param.name ?></code></td>
            <?js } ?>
            
            <td class="type">
            <?js
                if (param.type && param.type.names) {
                    param.type.names.forEach(function(name, i) {
                        print( linkto(name, htmlsafe(name)) );
                        if (i < param.type.names.length-1) { print(' | '); }
                    }); 
                }
            ?>
            </td>
            
            <?js if (params.hasAttributes) {?>
                <td class="attributes">
                <?js
                    if (param.optional) {
                        print( '&lt;optional><br>' );
                    }
                    
                    if (param.nullable) {
                        print( '&lt;nullable><br>' );
                    }
                ?>
                </td>
            <?js } ?>
            
            <?js if (params.hasDefault) {?>
                <td class="default">
                <?js
                    if (typeof param.defaultvalue !== 'undefined') {
                        print( htmlsafe(param.defaultvalue) );
                    }
                ?>
                </td>
            <?js } ?>
            
            <td class="description last"><?js= param.description ?><?js if (param.subparams) {
                print( '<h6>Properties</h6>' + render('params.tmpl', param.subparams) );
            }?></td>
        </tr>
	
	<?js }); ?>
	</tbody>
</table>