<dl class="params detail-list">
    {{#params}}  

    <dt{{#first?}} class="first"{{/first?}}>
        <h6>{{name}}</h6>
    </dt>
    
    <dd>
        <dl class="param-properties">
        {{#type}}
            <dt>
                <span>Type</span>
            </dt>
            <dd>
                {{#names}}
                <span class="param-type">{{#linkTo}}{{.}}{{/linkTo}}</span>{{^last?}} | {{/last?}}{{#last?}} {{/last?}}
                {{/names}}
            </dd>
            
            {{#defaultvalue}}
            <dt>
                <span>Default</span>
            </dt>
            <dd>
                {{defaultvalue}}
            </dd>
            {{/defaultvalue}}
            
            {{#optional}}
            <dt>
                <span>Optional</span>
            </dt>
            <dd class="yesDef">Yes</dd>
            {{/optional}}
            
            {{#nullable}}
            <dt>
                <span>Nullable</span>
            </dt>
            <dd class="yesDef">Yes</dd>
            {{/nullable}}
        {{/type}}
        </dl>
        
        {{#description}}
        <div class="param-desc">
            {{description}}
        </div>
        {{/description}}
    </dd>
    
    {{/params}}
</dl>