<li>
    {{#type}}
    {
        {{#names}}<span class="param-type">{{last}}{{#linkTo}}{{.}}{{/linkTo}}</span>{{^last?}} | {{/last?}}{{#last?}} {{/last?}}{{/names}}
    }
    {{/type}}
    <span class="param-name">{{name}}</span>
</li>