
    <dt class="furtherDetailHeading" id="method:{{name}}">
        <h4 class="property-title">{{name}}</h4>
    </dt>
    <dd>
        {{#summary}}<p class="shortDesc">{{{summary}}}</p>{{/summary}}
    </dd>

