<?js if (data.description) { ?>
<div class="param-desc">
	<?js if (data.type) { with(type) {?>
	<?js
            var self = this;
			names.forEach(function(name, i) { ?>
		<span class="param-type"><?js= self.htmlsafe(name) ?></span> <?js if (i < names.length-1) { ?>|<?js } ?>
		<?js }); ?>
		<?js } } ?> <?js= description ?>
</div>
<?js } ?>