<?js if (data.description) { ?>
<div class="param-desc">
    <?js= description ?>
</div>
<?js } ?>

<?js
	if (data.type) {
		with(type) {
?>

<dl>
	<dt>
		Type
	</dt>
	<dd>
		<?js
            var self = this;
			names.forEach(function(name, i) { ?>
		<span class="param-type"><?js= self.htmlsafe(name) ?></span> <?js if (i < names.length-1) { ?>|<?js } ?>
		<?js }); ?>
	</dd>
</dl>
<?js 
		}
	}
?>