/**
 * Footer ($footer)
 */
/* TODO: convert to .less; overhaul */

.page-footer {
    width: 100%;
    background-color: #c12026;
    -webkit-background-size: 250px;
    -moz-background-size:    250px;
    background-size:         250px;
    background-repeat: repeat;
    color: #ef9c9f;
    text-align: center;
    padding: 2rem;
    -webkit-font-smoothing: antialiased;
}

.footer-heading {
    margin-bottom: 1rem;
    color: #ef9c9f;
    font-weight: 400;
    font-size: 1.333rem;
}

.footer-credits {
    font-weight: 700;
}

.footer-link {
    color: #fff;
}

.page-footer .button:focus,
.footer-link:focus {
    outline: 1px dotted #fff;
    outline-offset: 1px;
}

@media screen and (min-width: 600px) {
    .footer-heading {
        font-size: 1.777rem;
    }
}

@media screen and (min-width: 768px) {
    .page-footer {
        padding: 3rem 0;
    }
}
