body
{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Verdana, Tahoma, sans-serif;
	font-size: 13px;
	color: #000;
}

a {
    color: #444;
}

a:visited {
    color: #444;
}

a:active {
    color: #444;
}

header
{
	display: block;
	/*border-bottom: 1px solid #ddd;*/
	padding: 6px 4px;
}

.class-description {
    font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 18px;
}

#main {
    float: left;
    width: 100%;
}

section
{
	display: block;
	
	background-color: #fff;
	padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 240px;
}

sup {
    color: #aaa;
}

nav
{
	display: block;
	

	float: left;
    margin-left: -230px;
    margin-top: 28px;
    width: 220px;
    border-left: 1px solid #ccc;
    padding-left: 9px;
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
    padding:0;
    margin:0;
    list-style-type:none;
}

nav h3 {
    margin-top: 12px;
}

nav li {
    margin-top: 6px;
}

nav a {
    color: #5C5954;
}

nav a:visited {
    color: #5C5954;
}

nav a:active {
    color: #5C5954;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 11px;
}

h1
{
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin: 6px 0 9px 0;
}

h2
{
	font-size: 22px;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin: 6px 0 3px 0;
}

h3
{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin-top: 16px;
	margin: 6px 0 3px 0;
}

h4
{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin-top: 16px;
	margin: 18px 0 3px 0;
	color: #A35A00;
}

h5
{
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -0.03em;
	margin: 8px 0 3px -16px;
}

h6
{
	font-size: 13px;
	letter-spacing: -0.03em;
	margin: 6px 0 3px 0;
	font-style: italic;
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.important
{
	font-weight: bold;
	color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.details dt { width:100px; float:left;}
.details dd { margin-left: 100px; }

.description { margin-left: -16px; }

.code-caption
{
	font-style: italic;
	font-family: Palatino, 'Palatino Linotype', serif;
	font-size: 14px;
	margin: 0;
}

.sh_sourceCode
{
	border: 1px solid #ddd;
	width: 80%;
}

.sh_sourceCode code
{
	font-family: Consolas, 'Lucida Console', Monaco, monospace;
	font-size: 12px;
	line-height: 18px;
	display: block;
	padding: 4px 12px;
	margin: 0;
	background-color: #fff;
	color: #000;
	border-left: 3px #ddd solid;
}

.params
{
	border-spacing: 0;
	border: 0;
	border-collapse: collapse;
}

.params .name { color: #1C02A3; }

.params td, .params th
{
	border: 1px solid #ddd;
	margin: 0px;
	text-align: left;
	vertical-align: top;
	padding: 4px 6px;
	display: table-cell;
}

.params thead tr
{
	background-color: #ddd;
	font-weight: bold;
}

.params .params thead tr
{
	background-color: #fff;
	font-weight: bold;
}

.params th { border-right: 1px solid #aaa; }
.params thead .last { border-right: 1px solid #ddd; }