/**********************
* Navbar
***********************/
#brjs-nav {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	padding:0;
}

#topnav {
    background-color: #FFF;
    display: inline-block;
    height: 40px;
    left: 0;
    margin: 0 auto;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;

    -webkit-box-shadow: 0px 2px 3px #999;
    -moz-box-shadow: 0px 2px 3px #999;
    box-shadow: 0px 2px 3px #999;

    background-image: -moz-linear-gradient(top, #595959, #1f1f1f);
    background-image: -ms-linear-gradient(top, #595959, #1f1f1f);
    background-image: -o-linear-gradient(top, #595959, #1f1f1f);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#595959), to(#1f1f1f));
    background-image: -webkit-linear-gradient(top, #595959, #1f1f1f);
    background-image: linear-gradient(top, #595959, #1f1f1f);
    background: linear-gradient(to bottom, rgba(89,89,89,1) 0%,rgba(31,31,31,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */

}

#topnav a {
    display: block;
}

#topnav ul {
    font-size: 12px;
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-right: 20px;
}

#topnav li {
    display: inline-block;
    float: left;
    line-height: 40px;
    position: relative;
}

#topnav li a {
    border-right: solid;
    -webkit-transition: all 0.25s ease-out 0s;
    margin-right: 5px;
    margin-left: 5px;
    border-right-color: #888;
    border-right-width: 1px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 10px;
    color: #fff;
    font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

#topnav li:last-child a {
    border-right: 0px;
}

#topnav li a:hover {
    color: #54B0CB;
}

.subnav {
	position:relative;
	display:inline-block;
	top:-3px;
	width: 100%;
	height: 31px;
	background-image:url(images/sub-nav.png);
	background-repeat:repeat-x;
}

.subnav ul,
.subnav li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.subnav-extend-btn {
	width: 30px;
	height: 30px;
	background-image:url(images/home-up.png);
	background-repeat:no-repeat;
	display:inline-block;

	-webkit-transition: background-image 300ms ease;
	-moz-transition: background-image 300ms ease;
}

.subnav-extend-btn:hover {
	width: 30px;
	height: 30px;
	background-image:url(images/home-hover.png);

	background-repeat:no-repeat;
	display:inline-block;
}

.subnav-btn {
	position: relative;
	display: inline;
	top: -33px;
	left: 30px;
	float: left;
	height: 26px;
	width: auto;
	font-size: 12px;
	color: #888;
	background-image:url(images/chevron-left2.png);
	background-position:left;
	background-repeat:no-repeat;

	line-height: 30px;
	padding: 0px 10px 0px;
	padding-left: 20px;
	margin-right:8px;
	text-decoration: none;

}

.subnav-btn:hover, .subnav-btn:active {
	color:#000;
}


.subnav-selected {
	position: relative;
	display: inline;
	top: -33px;
	left: 22px;
	float: left;
	height: 26px;
	width: auto;
	font-size:12px;
	font-weight:bold;

	background-image:url(images/chevron-left2.png);
	background-position: 0% 50%;
	background-repeat:no-repeat;
	color:#2884a0;
	line-height: 30px;
	padding:0px 10px 0px;
	padding-left: 20px;
	margin-right:8px;
	text-decoration: none;
}

/**********************
* Generate docs styling
***********************/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.right-align {
    float: right;
}

.regeneratedDocsBtn .button-image {
    background-image: url(images/refresh-up.png);
    background-position: -5px -4px;
}

button.round-button {
    float: right;
    margin: 15px 20px 15px 15px;
    border-width:0;

    -moz-transition: all 0.25s ease-out 0s;
    -webkit-transition: all 0.25s ease-out 0s;
    font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #fff !important;
    text-shadow: 0px 1px 0px rgba(52, 121, 141, 1);
    text-decoration: none;
    line-height:30px;
    padding: 5px 5px 5px 5px;
    background-color: #54b0cb;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54b0cb', endColorstr = '#3f97b2');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#54b0cb', endColorstr = '#3f97b2')";*/
    background-image: -moz-linear-gradient(top, #54b0cb, #3f97b2);
    background-image: -ms-linear-gradient(top, #54b0cb, #3f97b2);
    background-image: -o-linear-gradient(top, #54b0cb, #3f97b2);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#54b0cb), to(#3f97b2));
    background-image: -webkit-linear-gradient(top, #54b0cb, #3f97b2);
    background-image: linear-gradient(top, #54b0cb, #3f97b2);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    overflow: visible;
}

button.round-button:hover {
    color: #fff;
    text-shadow: 0px 1px 0px rgba(52, 121, 141, 1);
    text-decoration: none;
    background-color: #226f86;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#328aa4', endColorstr = '#226f86');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#328aa4', endColorstr = '#226f86')";*/
    background-image: -moz-linear-gradient(top, #328aa4, #226f86);
    background-image: -ms-linear-gradient(top, #328aa4, #226f86);
    background-image: -o-linear-gradient(top, #328aa4, #226f86);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#328aa4), to(#226f86));
    background-image: -webkit-linear-gradient(top, #328aa4, #226f86);
    background-image: linear-gradient(top, #328aa4, #226f86);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
}


button.round-button:active {
 background-color:#1c596c;
 background-image:none;
 box-shadow:inset 0px 1px 3px rgba(0, 0, 0, 0.7);
}

button.round-button .button-image {
    display:block;
    background-repeat:no-repeat;
    text-indent:28px;
    padding:5px;
    width:22px;
    height:22px;
}

.has-tooltip {
    background: #ececec;
    color: #555;
    font-family: "HelveticaNeueW01-55Roma", Arial, sans-serif;
    font-size: 16px;
    font-weight:bold;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 99;
    -webkit-transform: translateZ(0); /* webkit flicker fix */
    -webkit-font-smoothing: antialiased; /* webkit text rendering fix */


}

.has-tooltip .tooltip {
    background: #d0ebf2;
    bottom: 100%;
    color: #424242;
    line-height: 18px;
    display: block;
    left: -11px;
    margin-bottom: -100px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    visibility: hidden;

     -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
       -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
        -ms-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
         -o-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);

    -webkit-transform: translateY(10px);
       -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
         -o-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.has-tooltip .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}

/* CSS Triangles - see Trevor's post */
.has-tooltip .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #d0ebf2 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.has-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
}





/**********************
* General styling
***********************/
header .interface {
    background: url("../icons/interface.gif") no-repeat;
}
header .package,
header .namespace {
    background: url("../icons/package.gif") no-repeat;
}
header .singleton {
    background: url("../icons/singleton.gif") no-repeat;
}
header .class {
    background: url("../icons/class.gif") no-repeat;
}

header .docced-type {
    padding-left: 55px;
    min-height: 50px;
    line-height: 2.5;
    color: #999;
}
header .memberof {
    margin-top: 0;
    padding-top: 0;
    font-size: 17px;
}
header .name {
    margin-top: 0;
}



/** Left nav styling **/
nav ul {
    margin: 0 0 0 2px;
    padding: 0;
    list-style-type: none;
}
nav ul a {
    display: block;
    word-wrap: break-word;
}


/** Doc content stying **/
#main article h1,
#main article h2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
#main article h3,
#main article h4 {
    font-size:20px;
    margin-top: 34px;
}
#main article h5,
#main article h6 {
    margin-top: 15px;
}


#main header {
    margin-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.container-overview,
.subsection-title {
    margin-bottom: 20px;
}
.container-overview {
    border-bottom: 1px solid #F0F0F0;
}

table.params {
    width: 100%;
    margin: 0px 0px 8px 0px;
    line-height: 1.8;
}
table.params th {
    background-color: #f9f9f9;
}
table.params th,
table.params td {
    border: 1px solid #f0f0f0;
    padding: 4px;
}
table.params code {
    background: none;
}

.details {
    margin-top:15px;
    font-size: 0.9em;
}

.subsection-title {
    font-size: 30px;
}

#sdk_info_panel {
    font-size:0.8em;
}
#sdk_info_panel p {
    margin: 2px 0;
}
