{
	"name": "{{appname}}",
	"version": "{{appversion}}",
	"revision": "{{timestamp}}",
	"description": "An automatic documentation generator for javascript.",
	"keywords": [ "documentation", "javascript" ],
	"licenses": [
		{
			"type": "Apache 2.0",
			"url":  "http://www.apache.org/licenses/LICENSE-2.0"
		}
	],
	"repositories": [
		{
			"type": "git",
			"url":  "git://github.com/micmath/jsdoc.git"
		}
	],
	"bugs": "https://github.com/micmath/jsdoc/issues",
	"contributors" : [
        {
			"name":  "Michael Mathews",
			"email": "micmath@gmail.com"
		},
        {
			"name":  "Rafa\u0105 Wrzeszcz",
			"email": "rafal.wrzeszcz@wrzasq.pl"
		}
    ],
	"maintainers": [
		{
			"name":  "Michael Mathews",
			"email": "micmath@gmail.com"
		}
    ]
}
