<!DOCTYPE html>
  <head>
      <meta charset="utf-8">
      <title><?js= title ?></title>
      <style type="text/css">
          pre, code
          {
              white-space: pre-wrap;
          }
      </style>
      <script src="scripts/prettify/prettify.js"> </script>
      <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link type="text/css" title="desert" rel="stylesheet" href="styles/desert.css">
      <link type="text/css" title="sunburst" rel="alternate stylesheet" href="styles/sunburst.css">
      <link type="text/css" title="prettify" rel="alternate stylesheet" href="styles/prettify.css">
  </head>
  <body>
      <pre class="prettyprint lang-js linenums">
<?js= sourceCode ?>
      </pre>
      <script>prettyPrint();</script>
  </body>
</html>